---
layout: main
---
<div class="ct mt10">
<amp-list width="auto" height="352" layout="fixed-height" src="https://us-central1-amm-one.cloudfunctions.net/adslist">
  <template type="amp-mustache">
    <div class="search-list">
    <h4>{{title}}</h4><hr/>
    <a href="{{url}}" target="_blank">{{url}}</a>
    <p>description</p>
    <hr/>
    <p>contact_info</p>
    </div>
  </template>
  <div overflow role="button" aria-label="Show more" class="list-overflow">Show more ...</div>
</amp-list>
  
<div class="r"><div class="c">


</div></div>
</div>

