<div class="headbar">
<!-- <div class="ct bar">
<div class="r rcenter bar-content"> -->
<div class="ct">
<div class="r">
  <div class="c tac clearfix">

      <div class="float-left pt1" >
        <a href="/search">Wallet
<!--           <amp-img src="/img/magnify32.png" width="32" height="32" alt="ค้นหา" ></amp-img> -->
        </a>
      </div>


      <div class="float-right pt05">
<!--         <div>
          <amp-img src="/img/eve24.jpg" width="40" height="40" alt="เมนู" id="profile-thumb" ></amp-img>
        </div> -->
        <div>
          <label for="profile-thumb" class="btn btn-dropdown">
            <amp-img src="/img/bopridadror.png" width="70" height="70" alt="เมนู" class="profile-thumb" ></amp-img>
          </label>
          <input type="checkbox" id="profile-thumb" aria-hidden="true" hidden />
          <label for="profile-thumb" id="profile-menu-overlay"></label>
<div class="profile-menu">
  <!--<div class="r">-->
  <!--<div class="c c80 co10">-->
  <!--  <div class="image-wrap-outer">-->
  <!--    <div class="profile-pic-sidebar image-wrap-inner">-->
          <!--<amp-img src="/images/hyeri-black-ring.jpg" width="750" height="1334" alt="profile picture" layout="responsive"></amp-img>-->
  <!--        <amp-img src="/images/hyeri-sit-leg-pose.jpg" width="1024" height="682" alt="profile picture" layout="responsive"></amp-img>-->
  <!--    </div>-->
  <!--  </div>-->
  <!--</div>-->
  <!--</div>-->
  
  <div class="r">
  <div class="c tac"> <!-- <div class="c c80 tac co5" style="margin: auto"> -->
    <amp-img src="/img/eve24.jpg" width="120" height="120" class="profile-pic" ></amp-img>
  </div>
  <div class="c">
    <div style="background-color:red"><amp-img src="/img/eve24.jpg" width="20" height="20"></amp-img>1200</div>
    <p><amp-img src="/img/eve24.jpg" width="20" height="20"></amp-img>110</p>
  </div>
  </div>
  <hr/>
  <div class="r">
  <div class="c tac"> <!-- <div class="c c80 tac co5" style="margin: auto"> -->
    <button >เข้าสู่ระบบ</button>
    <hr/>
    <div>
      <a href="/search">ค้นหา</a>
    </div>
    <div>
      <a href="/search">ค้นหา</a>
    </div>
    <hr/>
    <div>
      <a href="/search">ออกจากระบบ</a>
    </div>
  </div>
  </div>
</div>
          
          
        </div>
        

        

      </div>
    
      <div class="pt1">
        <a href="/">AdMark.Me
<!--           <amp-img src="/img/cc-logo.png" width="52" height="26" alt="AdMark.Me" ></amp-img> -->
        </a>
      </div>
    
  </div>
</div>
</div>
</div>
<div class="mt7"></div>

